@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Env.EnvironmentName:  @ViewBag.EnvironmentName</p>
<p>Env.IsDevelopment:  @ViewBag.IsDevelopment</p>
<p>Logging Level: @ViewBag.LogLevel </p>
<p>ConnectionString_Portal: @ViewBag.ConnectionString_Portal</p>