@model WWWROOT.Models.Book


<h2>Book Admin</h2>

<div>

  <h4>Book Edit</h4>
  <hr />

@using(Html.BeginForm())
{
  <div class="form-group">
      @Html.LabelFor(model => model.BookId) :
      @Html.TextBoxFor(model => model.BookId)
  </div>

  <div class="form-group">
      @Html.LabelFor(model => model.BookTitle) :
      @Html.TextBoxFor(model => model.BookTitle)
  </div>

  <div class="form-group">
      @Html.LabelFor(model => model.PublishYear) :
      @Html.TextBoxFor(model => model.PublishYear)
  </div>







}
<hr />
<a asp-controller="BookAdmin" asp-action="Index">Back to Book Listing</a>
</div>
