@model BooksWeb.Models.BooksViewModel

<h3>Book Admin</h3>
<!-- BEGIN SEARCH AREA -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Search for Books</h1>
  </div>
  <div class="panel-body">
    <div class="form-group">
      @Html.LabelFor(m => m.SearchEntity.BookTitle, "Book Title")
      @Html.TextBoxFor(m => m.SearchEntity.BookTitle, new { @class="form-control" })
    </div>
  </div>
  <div class="panel-footer">
    <button id="btnSearch"
      class="btn btn-sm btn-primary"
      data-bkwb-action="search">
      <i class="glyphicon glyphicon-search"></i>
      &nbsp;Search
      </button>
  </div>
</div>
<!-- END SEARCH AREA -->


<!-- BEGIN RECORDS AREA -->
<div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="bkwb-action-button-column">
          Action
        </th>
        <th>Book Title</th>
        <th>Year Published</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var item in Model.Books)
      {
        <tr>
          <td class="bkwb-action-button-column">
            <a asp-action="Details" asp-route-id="@item.BookId" 
              class="btn btn-default btn-sm">
              <i class="glyphicon glyphicon-edit"></i>
              </a>
          </td>
        <td>
          @item.BookTitle
        </td>
        <td>
          @item.PublishYear
        </td>
      </tr>
      }
    </tbody>
  </table>

</div>
<!-- END RECORDS AREA -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <hr />
      <ul>
      
      </ul>
      <hr />
    </div>
  </div>
</div>
